#header {
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1050;
  background-color: #5e696a;
  display: flex;
  border-bottom: 1px solid black;
}

#brand {
  width: 20rem;
  padding: 0 0 0 20px;
  margin: 5px;
  color: white
}

#account {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

#user {
  padding: 0 1.5rem 0;
}

.game {
  margin-top: 5rem;
}

.card {
  background-color: #f7f7f7;
}

li {
  border-bottom: #054bb3 dotted 1px;
  padding: 5px 0;
  margin: 5px 0;
}
